 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}


{{^is_https}}
    <div class="alert alert-danger">{{#str}} http_no_geolocation, block_gps {{/str}}</div>
{{/is_https}}
{{#is_https}}
    <div class="alert alert-block">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-12 mdl-align">
                {{#str}} injectbanner:description, block_gps{{/str}}
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
            <div class="mdl-align" style="width: 300px;">
                <strong>{{#str}} update_location, block_gps{{/str}}</strong><br />
                <a onclick="require(['block_gps/geoassist'], function(helper) { helper.locate(true); }); return false;"
                    href="#" class="btn">
                    <i class="fa fa-map-marker" style="font-size: 35px;"></i><br />
                    {{#str}} update_location_once, block_gps{{/str}}
                </a>

                <a onclick="require(['block_gps/geoassist'], function(G) { G.intervalToggle(); }); return false;"
                    href="#" class="btn block_gps_interval_toggler">
                    {{^setinterval}}
                        <i class="fa fa-toggle-off" style="font-size: 35px;"></i><br />
                    {{/setinterval}}
                    {{#setinterval}}
                        <i class="fa fa-toggle-on" style="font-size: 35px;"></i><br />
                    {{/setinterval}}
                    {{#str}} update_location_regularly, block_gps {{/str}}
                </a>
            </div>
            <div class="mdl-align" style="width: 300px;">
                <strong>{{#str}} hints, block_gps{{/str}}</strong><br />
                <a href="{{wwwroot}}/blocks/gps/list.php?id={{courseid}}" class="btn">
                    <i class="fa fa-list" style="font-size: 35px;"></i><br />
                    {{#str}} list, block_gps {{/str}}
                </a>

                <a href="{{wwwroot}}/blocks/gps/map.php?id={{courseid}}" class="btn">
                    <i class="fa fa-map" style="font-size: 35px;"></i><br />
                    {{#str}} map, block_gps {{/str}}
                </a>
            </div>
            <div class="mdl-align" style="width: 300px;">
                <strong>{{#str}} current, block_gps{{/str}}</strong><br />
                <center>
                    <table border="0">
                        <tr>
                            <td>{{#str}} latitude, block_gps {{/str}}</td>
                            <td class="block_gps_current_latitude mdl-align">{{latitude}}</td>
                        </tr>
                        <tr>
                            <td>{{#str}} longitude, block_gps {{/str}}</td>
                            <td class="block_gps_current_longitude mdl-align">{{longitude}}</td>
                        </tr>
                        <tr>
                            <td>{{#str}} altitude, block_gps {{/str}}</td>
                            <td class="mdl-align">
                                <span class="block_gps_current_altitude">{{altitude}}</span>
                                {{#str}} meters, block_gps {{/str}}
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>
{{/is_https}}
