 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}

<div id="{{uniqid}}-map" style="height: 440px; border: 1px solid #AAA;"></div>

{{#js}}
require(['core/url', 'block_gps/leaflet'], function(url) {
    var markers = [
    {{#markers}}
        {
            "marker": "{{marker}}",
            "name": "{{name}}",
            "url": "{{url}}",
            "lat": {{latitude}},
            "lng": {{longitude}}
        },
    {{/markers}}
    ];
    var bounds = [ {{{bounds}}} ];

    var map = L.map( '{{uniqid}}-map', {
        center: [ {{{center}}}],
        zoom: 13
    });
    map.fitBounds(bounds, { maxZoom: 18 });
    L.tileLayer( 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: ['a','b','c']
    }).addTo( map );
    var icon = L.icon({
        iconUrl: url.relativeUrl('/blocks/gps/pix/google-maps-pin-blue.svg'),
        iconRetinaUrl: url.relativeUrl('/blocks/gps/pix/google-maps-pin-blue.svg'),
        iconSize: [29, 24],
        iconAnchor: [9, 21],
        popupAnchor: [0, -14]
    });
    for ( var i=0; i < markers.length; ++i ) {
        var useIcon = icon;
        if (typeof markers[i].marker !== 'undefined' && markers[i].marker != '') {
            useIcon = L.icon({
                iconUrl: markers[i].marker,
                iconRetinaUrl: markers[i].marker,
                iconSize: [29, 24],
                iconAnchor: [9, 21],
                popupAnchor: [0, -14]
            });
        }
        L.marker( [markers[i].lat, markers[i].lng], {icon: useIcon} )
            .bindPopup( '<a href="' + markers[i].url + '" target="_blank">' + markers[i].name + '</a>' )
            .addTo( map );
    }
});

{{/js}}
